body {
  margin: 0;
  font-family: 'Pokemon GB';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://i.pinimg.com/originals/ca/e0/1a/cae01ab5cce960db0d7819cc96e97ce8.png');
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: 'Pokemon GB';
}
.loading__gif {
  width: 90%;
}
.gif__container{
  text-align: left;
}
.loading__text{
  font-family: 'Pokemon GB';
  color:gold;
  font-size: xx-large;
}
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
